/**
 * @section general styles
 * @todo: implement OOCSS
 */
html {
    font-family: Verdana, sans-serif;
}

body {
    min-width: 600px; /* @todo: remove when made responsive */
    max-width: 1200px;
    width: 80%;
    margin: 2em auto;
    background-color: aliceblue;
}

header, main, footer {
    border: 1px solid grey;
    padding: 1em;
}

/*
 * @subsection helpers
 */
.right {
    text-align: right;
}
.table {
    display: table;
}
.table-row {
    display: table-row;
}
.table-cell {
    display: table-cell;
    vertical-align: middle;
}


/**
 * @section header
 */
header {
    border-radius: 1em 1em 0 0;
}

header select, header label {
    float: right;
}

header > div > div {
    float: left;
}
header > div > div:first-child {
    width: 70%;
}
header > div > div:last-child {
    width: 30%
}

h1 {
    font-size: 1.2rem;
    margin-top: 2rem;
}

#show-finished {
    float:right;
}

header:after {
    content: '';
    display: block;
    clear: both;
}

/**
 * @section content
 */
main {
    border-width: 0 1px;
}

#notes-container {
    display: table;
    width: 100%;
    margin: 0 auto;

}
#notes-container > div {
    display: table-row;
}

#notes-container > div > span {
    display: table-cell;
    padding: 0.5em;
    vertical-align: middle;
}

.title {

}
.prio {
    font-weight: bold;
}
.desc {
    font-style: italic;
}

/**
 * @section footer
 */
footer {
    border-radius: 0 0 1em 1em;
    font-size: 0.8rem;
}

footer .table {
    width: 100%;
}

/**
 * @section modal form
 */
.remodal-close {
    left: initial;
    right: 0;
}
form div:not(.controls) {
    text-align: left;
    margin-bottom: 1rem;
}
form label {
    display: inline-block;
    width: 20%;
    margin-right: 1rem;
    text-align: right;
}

form input:not([type='date']), form textarea {
    width: 75%;
}