html {
    font-family: Verdana, sans-serif;
}

body {
    min-width: 600px; /* @todo: remove when made responsive */
    width: 80%;
    margin: 2em auto;
    background-color: aliceblue;
}

/**
 * @Section: @todo: checkout @section, insert oocss section
 */
header, main, footer {
    border: 1px solid grey;
    padding: 1em;
}

/**
 * Section: Header
 */
header {
    border-radius: 1em 1em 0 0;
}

header select, header label {
    float: right;
}

header > div > div {
    float: left;
}
header > div > div:first-child {
    width: 70%;
}
header > div > div:last-child {
    width: 30%
}

h1 {
    font-size: 1.2rem;
    margin-top: 2rem;
}

#show-finished {
    float:right;
}

header:after {
    content: '';
    display: block;
    clear: both;
}

/**
 * Section: Content
 */
main {
    border-width: 0 1px;
}

/* ul */
#notes {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

li > span {
    display: inline-block;
}

.title {

}
.prio {
    font-style: oblique;
}
.desc {
    font-style: italic;
}


/**
 * Section: footer
 */
footer {
    border-radius: 0 0 1em 1em;
}

footer span {
    display: inline-block;
    width: 50%;
    border: 1px solid black;
}

.edit-task-item {
    display: none;
}

.edit-task-item div label {
    /*display: inline-block;*/
    width: 30%;
}

.edit-task-item div input {
    /*display: inline-block;*/
    width: 70%;
}

.right {
    text-align: right;
}